[Unit]
After=network.target

[Service]
WorkingDirectory=/home/pi/x728-Monitor/
ExecStart=/usr/bin/x728-monitor.py
# KillMode=process <--- leave killmode blank if you want node to kill itself when you manually stop the service!!
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=x728Monitor
User=root
Group=root

[Install]
WantedBy=multi-user.target
